.left{
    margin-left: 10px;
}

h2{
    text-align: center;
    font-family: serif;
}
.bottom{
    margin-bottom: 25px;
}
.top{
    margin-top: 25px;
}
.topmore{
    margin-top: 40px;
}
.loginform{
 margin: 0;   
}